*{
    font-size: 30px;
    margin-left: 20px;
    padding: 0;
}

.header a::after{
    content: attr(href)
}

.header{
    background-color: rgb(148, 145, 141);
    margin:0;
    padding: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    color: blue
}

.prepare h1{
    text-align: center;
    color: red;
}

.prepare{
    width: 100%;
    height: fit-content;
    margin:0;
    padding: 0;
    background-color: rgb(171, 194, 186);
}