*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.full-height{
    height: 100%;
}

h1 {
    padding: 0;
    margin-top: 0px;
    font-size: 3rem;
    color: red;
}

.container {
    min-height: 10rem;
    line-height: 10rem;
}

.heading{
    background-color: aqua;
    text-align: center;
    height: 100%
}

.item {
    margin-bottom: 16px;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    background-color: orange;
    min-height: 20rem;
    min-width: 15rem;
}

.container {
    display: flex;
    padding: 0 32px;
}

.sidebar {
    width: 300px;
    background-color:#666;
}

.content {
    flex: 1; 
}

@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}